<div class="row">
   <div class="col-sm-8 col-md-9">
     <div class="page-header page-header-bleed-right">
       <div class="actions pull-right">
         <a href="#"><span class="pficon pficon-refresh"></span> Refresh Results</a>
       </div>
       <h1><a href="https://trello.com/b/WZ2gjtnR/systems-engineering-projects-and-status">current assignments (WIP)</a></h1>
     </div>

     <div class="row">
       <div class="col-sm-4">
         <div id="syseng-chart"></div>
       </div>
       <div class="col-sm-4">
         <div id="perfteam-chart"></div>
       </div>
       <div class="col-sm-4">
         <div id="ux-chart"></div>
       </div>
     </div>

     <hr>
     <h2 class="h4">Tasks by Person</h2>
     <div id=output>
     <table class="table">
       <tr>
         <th>Status</th>
         <th>Location Data</th>
          <th>Hosts</th>
        </tr>
        <tr>
          <td><span class="label label-success">New</span></td>
          <td><strong>Fusce leo massa</strong><br>Created March 05, 2014 08:34:36 AM</td>
          <td><span class="label label-default">11</span></td>
        </tr>
        <tr>
          <td><span class="label label-success">New</span></td>
          <td><strong>Iaculis at dapibus eget</strong><br>Created March 03, 2014 20:32:12 AM</td>
          <td><span class="label label-default">9</span></td>
        </tr>
        <tr>
          <td><span class="label label-default">Disabled</span></td>
          <td><strong>Dapibus nec metus</strong><br>Created March 03, 2014 19:11:56 AM</td>
          <td><span class="label label-default">25</span></td>
        </tr>
      </table>
    </div><!-- output -->

      <hr>
    </div><!-- /col -->
    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <div class="actions pull-right">
          <a href="#">Clear Messages</a>
        </div>
        <h2 class="h5">Latest Notifications</h2>
      </div>
      <p><a href="#">See all messages</a></p>
    </div><!-- /col -->
  </div><!-- /row -->
